h1
{
    text-align: center;
    color: #950740;
    font-size: 2vw;
    padding: 35px 0px 0px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.title
{
    text-align: center;
    font-size: calc(1.2rem + 1vw);
    color: #950740;
    padding: 30px 0px 0px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    text-shadow:  1.5px 1.5px 1.5px #950740;
}

.about {
    cursor:  url('../bg.jpg'), auto;
}

.about img{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 200px;
    cursor:  url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fseehowitisdone.com%2Fhow-to-capture-the-mouse-cursor-in-a-screenshot-in-windows-10-example%2F&psig=AOvVaw2WOcFEc9jumFFcf9MVDR5F&ust=1653580659484000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLDxwJKC-_cCFQAAAAAdAAAAABAD'), pointer;
}

.about .section{
    max-width: 100% important;
}

p
{
    font-size: calc(0.75rem + 0.5vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.line
{
    margin-top: 40px;
}

.about .socialicons
{
    position: relative;
    display: flex;
    justify-content: center;
}

.about .icons
{
    width: calc(1.5rem + 1vw);
    min-width: 1rem;
    height: calc(1.5rem + 1vw);
    min-height: 1rem;
    background: #C3073F;
    padding: 3px;
    border-radius: 5px;
    color: white;
    box-shadow: -2px -2px 3px rgba(30, 161, 179,0.2),
                3px 3px 3px rgba(0,0,0,0.2);
}

.about .icons:hover
{
    background: transparent;
    color: #4E4E50;
    cursor: pointer;
}

/* Educational */
.educational
{
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.educational h5
{
    font-size: 22px;
}

.socialicons ul,.hobbies ul
{
    justify-content: center;
    text-align: right;
}

.card-body  p:nth-child(2)
{
    font-size: 19px;
    text-align: center;
}

.card-body  p:nth-child(3)
{
    font-size: 19px;
    text-align: center;
}

.percentage
{
    color: #C3073F;
    font-family: Verdana;
    font-size: 19px;
    text-align: center;
}

/* specailskills */
.specailskills li,.hobbies li
{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.specailskills .icons , .hobbies .icons
{
    width: 50px;
    height: 50px;
    padding: 3px;
    color:  #C3073F;
}

.iconsize 
{
    margin: 0 calc(1rem + 1vw);
    line-height: 1rem;
}

.iconsize:hover  .icons ,.iconsize:hover .icons
{
    background: white;
    color: #C3073F;
    cursor: pointer;
    /* color:  #4E4E50; */
    transform: scaleX(1px);
}

/* Projects */
.projects p
{
    font-size: calc(0.75rem + 0.5vw);
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.projects img
{
    width: 80%;
    height: 100%
}

.projects h3
{
    color: #C3073F;
    padding: 35px 0px 0px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    text-align: center;
    font-size: calc(1.2rem + 1vw);
    text-shadow:  1.5px 1.5px 1.5px #C3073F;
}

.projects .btn
{
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    padding: 8px;
    font-family:"Lucida Console", "Monaco", monospace;
    border-radius: 100px;
    cursor: pointer;
    background: linear-gradient(90deg,#C3073F, #36e5eb);
    color: white;
    box-shadow: -2px -2px 3px rgba(30, 161, 179,0.2),
                3px 3px 3px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    text-decoration: none;
}

.projects .btn:hover
{
    color: white;
    background: linear-gradient(90deg, #36e5eb ,#C3073F);
    text-decoration: none;
}

.projects video
{
    width: 100%;
}

.hobbyprojects p
{
    font-size: calc(0.75rem + 0.5vw);
    font-family: Verdana, "Geneva", Tahoma, sans-serif; 
}

.hobbyprojects span, .hobbies span
{
    color: #C3073F;
}

/* contact */
.contact
{
    display: flex;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact img
{
    width: 50px;
    padding-bottom: 5px;
}

/* Hobbies */
.hobbies
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hobbies img
{
    width: 50%;
}

.hobbies h5
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hobbies p
{
    font-size: calc(0.75rem + 0.5vw);
    letter-spacing: 2px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hobbies p:hover
{
    text-shadow: 3px 3px  rgba(27,30,33,0.3);
}

.hobbies h3
{
    color: #C3073F;
    font-size: 1.8rem;
    padding: 10px 0px ;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    text-align: center;
}

/* FOOTER */
.footer
{
    left: 0;
    bottom: 0;
    width: 100vw;
    color: white;
    background-color: #26d0ce;
    text-align: center;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;

}

.footer h4
{
    line-height: 40px;
}

.footer a
{
    color: white;
}

.footer a:hover
{
    color: white;
}


@media only screen and (max-width: 350px)
{
    h5
    {
        font-size: auto;
    }
}

@keyframes animate
{
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    40%,100%
    {
        transform: translateY(0px);
    }
}