
.name
{
    position: absolute;;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50% );
}

.name h2
{
    color: white;
    font-size: 2.3rem;
    font-family: serif;
}

.textname
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.svg
{
    width:480px;
    height: auto;
    animation: fill 0.5s ease forwards 2.8s;
    padding-top:10px;
}

.svg1
{
    width:480px;
    height: auto;
    animation: fill 0.5s ease forwards 2.8s;
    padding-top:10px;
}

path:nth-child(1)
{
    stroke-dasharray: 120px;
    stroke-dashoffset: 120px;
    animation: anime 1s ease forwards;
}

path:nth-child(2)
{
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    animation: anime 1s ease forwards 0.2s;
}

path:nth-child(3)
{
    stroke-dasharray: 350px;
    stroke-dashoffset: 350px;
    animation: anime 1s ease forwards 0.3s;
}

path:nth-child(4)
{
    stroke-dasharray: 150px;
    stroke-dashoffset: 150px;
    animation: anime 1s ease forwards 0.4s;
}

path:nth-child(5)
{
    stroke-dasharray: 170px;
    stroke-dashoffset: 170px;
    animation: anime 1s ease forwards 0.5s;
}

path:nth-child(6)
{
    stroke-dasharray: 170px;
    stroke-dashoffset: 170px;
    animation: anime 1s ease forwards 0.6s;
}

path:nth-child(7)
{
    stroke-dasharray: 170px;
    stroke-dashoffset: 170px;
    animation: anime 1s ease forwards 0.7s;
}

path:nth-child(8)
{
    stroke-dasharray: 120px;
    stroke-dashoffset: 120px;
    animation: anime 1s ease forwards 0.8s;
}

path:nth-child(9)
{
    stroke-dasharray: 160px;
    stroke-dashoffset: 160px;
    animation: anime 1s ease forwards 0.9s;
}

path:nth-child(10)
{
    stroke-dasharray: 243px;
    stroke-dashoffset: 243px;
    animation: anime 1s ease forwards 1.0s;
}

path:nth-child(11)
{
    stroke-dasharray: 150px;
    stroke-dashoffset: 150px;
    animation: anime 1s ease forwards 1.2s;
}

.svg1 path:nth-child(1)
{
    stroke-dasharray: 210px;
    stroke-dashoffset: 210px;
    animation: anime 1s ease forwards 1.4s;
}

.svg1 path:nth-child(2)
{
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation: anime 1s ease forwards 1.6s;
}

.svg1 path:nth-child(3)
{
    stroke-dasharray: 280px;
    stroke-dashoffset: 280px;
    animation: anime 1s ease forwards 1.8s;
}

.svg1 path:nth-child(4)
{
    stroke-dasharray: 230px;
    stroke-dashoffset: 230px;
    animation: anime 1s ease forwards 2.0s;
}

.svg1 path:nth-child(5)
{
    stroke-dasharray: 169px;
    stroke-dashoffset: 169px;
    animation: anime 1s ease forwards 2.1s;
}

.svg1 path:nth-child(6)
{
    stroke-dasharray: 160px;
    stroke-dashoffset: 160px;
    animation: anime 1s ease forwards 2.2s;
}

.svg1 path:nth-child(7)
{
    stroke-dasharray: 170px;
    stroke-dashoffset: 170px;
    animation: anime 1s ease forwards 2.3s;
}

.svg1 path:nth-child(8)
{
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
    animation: anime 1s ease forwards 2.4s;
}

.svg1 path:nth-child(9)
{
    stroke-dasharray: 169px;
    stroke-dashoffset: 169px;
    animation: anime 1s ease forwards 2.6s;
}

.svg1 path:nth-child(10)
{
    stroke-dasharray: 280px;
    stroke-dashoffset: 280px;
    animation: anime 1s ease forwards 2.8s;
}


.quotes
{
    padding-bottom: 25px;
}

.button
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    font-size: 20px;
    font-family:"Lucida Console", "Monaco", monospace;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(90deg,#0162c8, #36e5eb);
    color: white;
    box-shadow: 0 6px rgba(255, 255, 255,0.2);
    letter-spacing: 2px;
    text-decoration: none;
}

.button:hover
{
    color: white;
    font-size: 22px; 
    text-decoration: none;
}

@keyframes anime
{
    to
    {
        stroke-dashoffset: 0px;
    }
}

@keyframes fill
{
    from
    {
        fill: transparent;
    }
    to
    {
        fill: white;
    }
}

@media only screen and (max-width: 1000px)
{
    .svg
    {
        width:25rem;
    }

    .svg1
    {
        width:25rem;
    }

    .run
    {
        left: -2%;
        transform: perspective(600px) rotateX(-18deg) translateY(-100px);
    }
}

@media only screen and (max-width: 900px)
{
    .run
    {
        transform: perspective(600px) rotateX(-20deg) translateY(-95px);
    }

}

@media only screen and (max-width: 850px)
{
    .svg
    {
        width:22rem;
    }

    .svg1
    {
        width:23rem;
    }
    .textname
    {
        flex-direction: column;
    }
    .road
    {
        height: 10vw;
    }

    .road::before
    {
        height: 1.5vw;
    }

    .road::after
    {
        height: 3.1vw;
        bottom: -3.1vw;
    }

    .shadow
    {
        bottom: -68%;
    }

}

@media only screen and (max-width: 775px)
{
    .run
    {
        left: -4%;
        transform: perspective(600px) rotateX(-5deg) translateY(-120px);
    }

    .btn
    {
        padding: 8px 12px;
        font-size: 20px;
        letter-spacing: 0px;
    }

}

@media only screen and (max-width: 600px)
{
    .run
    {
        top: 25%;
        left: -9%;
        transform: perspective(10000px) rotateX(-0.1deg) translateY(-135px);
    }
    .road
    {
        height: 13vw;
    }

    .road::before
    {
        height: 2vw;
    }

    .road::after
    {
        height: 4vw;
        bottom: -4vw;
    }

    .shadow
    {
        bottom: -60%;
    }

}

@media only screen and (max-width: 410px)
{
    .svg
    {
        width:17rem;
    }

    .svg1
    {
        width:17rem;
    }
    .name h2
    {
        font-size: 1.8rem;
    }
    .run
    {
        top: 25%;
        left: -12%;
        transform: perspective(100000px) rotateX(-0.1deg) translateY(-135px);
    }
    .road
    {
        height: 16vw;
    }
    .road::before
    {
        height: 2vw;
    }
    .road::after
    {
        height: 4.6vw;
        bottom: -4.6vw;
    }
    .shadow
    {
        bottom: -53%;
    }
}
